<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomislav Kožul">
    <title>QRity - Error</title>
    <base href="/">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="user-data">

    </div>
    <div class="ticket-container">
        <div class="ticket-data">
            <p class="container-title">An error occurred</p>
        </div>
        <div class="error-container">
            <p class="error-text"><%= message %></p>
        </div>
    </div>
    <p class="copyright">© 2024 Tomislav Kožul</p>
</body>
</html>